

.navContainer {
    display: flex;
    align-items:center;
    position: sticky;
    top: 0;
    justify-content: center;
    height: 100vh;
}
.ulContainer {
    list-style: none;
    padding: 0!important;
}

.ulContainer li a b {
    font-size: 1vw;
}